/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-main), sans-serif;
  }

  .header,
  .header__title,
  .like-icon,
  .button__text {
    font-family: var(--font-accent), sans-serif;
  }
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" var(--font-main, 410);
  font-size: var(--font-size-main);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);
  padding: 100px 370px 100px 370px;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 98px;
}

.header_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: var(--outline);
  background-color: var(--background-color);
  min-inline-size: clamp(375px, 261.97px + 30.14vw, 696px);
  min-block-size: clamp(327px, 312.56px + 3.85vw, 368px);
  max-inline-size: 700px;
}

.header__logo {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: clamp(49px, 30.54px + 4.92vw, 65px);
}

.header__title {
  font-size: clamp(14px, 3.62px + 2.77vw, 23px);
  text-transform: uppercase;
}

.card_section {
  position: relative;
}

.card_list {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  gap: 50px;
  padding-bottom: 50px;
}

.card_block {
  background-color: var(--background-color);
  outline: var(--outline);
  inline-size: clamp(375px, 261.97px + 30.14vw, 696px);
}

.card_title {
  font-size: inherit;
  font-weight: var(--font-weight-heading);
  border-bottom: var(--outline);
  min-block-size: 30px;
  padding: 4px 10px;
}

.card_text {
  font-weight: var(--font-weight-main);
  border-top: var(--outline);
  padding: 25px;
  line-height: 21px;
  letter-spacing: 0.5px;
}

.text_main {
  padding-bottom: 25px;
}

.save_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image {
  object-position: center center;
  object-fit: cover;
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.gray {
  filter: grayscale(80%);
}

.saturate {
  filter: saturate(350%);
}

.hue-rotate {
  filter: hue-rotate(25deg);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(5px);
}

.green {
  filter: hue-rotate(85deg) blur(2px) opacity(77%) grayscale(30%);
}

.watermark {
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  opacity: 50%;
  position: absolute;
  inset-inline-end: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem);
  inset-block-start: clamp(1.5rem, 1.4778rem + 0.0946vw, 1.563rem);
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: 1px var(--background-color);
  }
}

.section_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 8px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  align-items: center;
  align-content: center;
}

.card__icon-button {
  display: flex;
  padding: 0;
  width: 39px;
  height: 38px;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  outline: 0;
  border: 0;
  transition: border 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: var(--outline);
  font-size: 14px;
}

.dialog[open] {
  overflow-y: hidden;
}

.dialog {
  background: var(--background-color);
  outline: 2px solid var(--outline);
  width: 353px;
  height: 191px;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-form .floppy {
  max-width: 39px;
  height: 39px;
}

.dialog::backdrop {
  background: #000;
  opacity: 0.75;
}

.container_for_dialog-text {
  display: flex;
  gap: 20px;
}

.container_for_dialog-text .floppy {
  align-self: center;
}

.submit__text {
  position: relative;
  z-index: 1;
  width: 293px;
  height: 38px;
  background: inherit;
  outline: 2px solid var(--outline);
}

.save-button {
  width: 335px;
  height: 55px;
  font-size: 14px;
  position: relative;
  background: var(--background-color);
  outline: 2px solid var(--outline);
  z-index: 1;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button {
  position: relative;
  background-color: var(--background-color);
  transition: background-color ease-in-out 0.5s;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--text-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-bg-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--background-color);
  mix-blend-mode: difference;
}

.dialog-form .button__text {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.floppy {
  max-width: 21px;
  height: 21px;
  color: var(--background-color);
  mix-blend-mode: difference;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.is-liked .heart {
  animation: heart 0.3s 0.1s linear;
  animation-direction: normal;
  transform-origin: center;
}

.sparks {
  fill: var(--heart-body-color);
  opacity: 0;
}

.card__icon-button:focus-visible {
  outline: var(--outline);
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s linear;
  animation-direction: normal;
  transform-origin: center;
}

@media (width <= 375px) {
  .page {
    padding: 100px 0px 100px 0px;
  }

  .header {
    min-inline-size: 375px;
  }

  .floppy {
    max-width: 28px;
    height: 28px;
  }

  .save-button {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .dialog {
    max-inline-size: 341px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
