/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: "Inter";
  --font-accent: "PressStart2P";
  --font-weight-main: 410;
  --font-weight-heading: 715;
  --background-image: repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), 
  repeating-linear-gradient(to right, #d3d3d3 0 2px, 
  rgb(211 211 211 / 0) 2px 4px),
  linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);
  --font-size-main: 18px;
  --block-size: clamp(23.4375rem, 16.29rem + 30.52vw, 43.75rem);
  --outline: solid 2px #000;
  --background-color: #fff;
  --button-bg-color: #000;
  --text-color: #000;
  --color: #fff;
  --heart-contour-color: #000;
  --heart-body-color: #FF0000;
}